body {
    font-family: georgia, times, serif;
    color: #333;
    margin: 0;
}
 
h1{
    font-size: 2rem;
    line-height: 1.3em;
    text-align: justify;
}

h1 {
    text-align: center;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

p {
    text-align: justify;
}

h6 {
    text-align: center;
}

.Imag1 {
    background: white;
    width: 85%;
    
}

.imag1 {
    margin: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #ccc;
}

.header {
    background: #333;
    color: white;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

    .header a {
        color: white;
        text-decoration: none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-icon{
    display: none;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .navigation ul li {
        display: inline-block;
    }

        .navigation ul li a {
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }

        .navigation ul li a:hover {
            background: #4a4a4a;
        }

.main {
    padding-top: 8rem;
}

.Imagen2 {
    background: white;
    width: 85%;

}


.img2 {
    margin: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #ccc;
}


.imagen {
    min-width: 35%;
    display: flex;
    justify-content: space-around;
    max-height: 50%;
    width: 100%;
}

.img4 {
    margin: 5px;
    padding: 5px;
    max-width: 50%;
    height: auto;
    width: 100%;
}

.footer {
    background: #f2f2f2;
    text-align: center;
    margin: 3rem;
    max-height: 50%;
}

@media only screen and (max-width: 767px) {

    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem
    }

    .navigation{
        width: 100%;
        margin-top: 1rem;
    }

        .navigation ul {
            display: none;
        }

        .navigation ul.show {
            display: block;
        }
        
        .navigation ul li {
            display: block;
        }
    
            .navigation ul li a {
                display: block;
                padding: 0.5rem 0;
                transition: all 0.4s linear;
                border-radius: 5px;
            }
    
            .navigation ul li a:hover {
                background: #4a4a4a;
            }
}
